<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
</head>
<body>

<section class="wide">
<h3>Ask the Llama</h3>
<textarea id="input" rows="3"></textarea>
<br>
<input id="submit" type="button" value="Ask">
<input id="stop" type="button" value="🛑">
<hr>
<textarea id="output" rows="10" disabled=""></textarea>
</section>

<script type="module">
import { llama } from './llama.cpp/completion.js';

const params = {
	"n_predict": 400,
	"temperature": 0.7,
	"repeat_last_n": 256,
	"repeat_penalty": 1.18,
	"top_k": 40,
	"top_p": 0.95,
	"min_p": 0.05,
	"tfs_z": 1,
	"typical_p": 1,
	"presence_penalty": 0,
	"frequency_penalty": 0,
	"mirostat": 0,
	"mirostat_tau": 5,
	"mirostat_eta": 0.1,
	"grammar": "",
	"n_probs": 0,
	"image_data": [],
	"cache_prompt": true,
	"api_key": "",
	"min_keep": 10,
	"slot_id": -1,
	"stop": [
	"</s>",
	"Llama:",
	"User:"
	]
}
const char = "{{char}}"


var currentMessages=[]
var history=[]
var controller_value;

async function doIt(prompt,c_v){
	const request = llama(`undefined: ${prompt}`, params,{proto:'http',host:"127.0.0.1",port:8080,controller:c_v})
	for await (const chunk of request) {
		const data = chunk.data;

		if (data.stop) {
			while (
				currentMessages.length > 0 &&
				currentMessages[currentMessages.length - 1].content.match(/\n$/) != null
			) {
				currentMessages.pop();
			}
			transcriptUpdate([...history, [char, currentMessages]])
			console.log("Completion finished: '", currentMessages.map(msg => msg.content).join(''), "', summary: ", data);
			controller_value = null;
		} else {
			currentMessages.push(data);
			transcriptUpdate([...history, [char, currentMessages]])
		}
	}
}

function transcriptUpdate(hist){
	console.log(hist)
	document.querySelector('#output').innerHTML=hist[0][1].map(function(i){ return i.content }).join('')
}

document.querySelector('#input').value='Tell me a joke';
document.querySelector('#output').innerHTML='';

document.querySelector('#stop').addEventListener('click',function(e){
	e.preventDefault();
	if (controller_value) {
		controller_value.abort();
		controller_value = null;
	}
})

document.querySelector('#submit').addEventListener('click',function(){
	if (controller_value) {
		throw new Error("already running");
		return
	}
	controller_value = new AbortController();

	currentMessages=[]

	document.querySelector('#output').innerHTML='⌚';
	doIt(document.querySelector('#input').value,controller_value)
})

</script>

</body>




</html>